<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
    <!-- service层实现类、controller层使用注解开发，需要指定扫描的包 -->
    <context:component-scan base-package="com.cjlu.dao,com.cjlu.service.impl,com.cjlu.controller"></context:component-scan>
 
    <!-- 统一转配处理器映射器、处理器是适配器   -->
     <!--<mvc:annotation-driven validator="validationFactory" conversion-service="conversionService1"></mvc:annotation-driven>-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 静态 资源解析 --> 
     <mvc:resources location="/js/"  mapping="/js/**"></mvc:resources>
     <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
     <mvc:resources location="/img/" mapping="/img/**"></mvc:resources>
     
 
    <!-- 配置视图解析器   -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <!-- 指定JSP路径的前后缀  -->
      <property name="prefix" value="/WEB-INF/jsp/"></property>
      <property name="suffix" value=".jsp"></property>
    </bean>
 
 
     <!-- 教校验工厂 -->
    <!-- <bean id="validationFactory" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
       &lt;!&ndash;指定校验器  &ndash;&gt;
       <property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
       &lt;!&ndash; 制定校验属性文件 &ndash;&gt;
       <property name="validationMessageSource" ref="messageSource"></property>
     </bean>-->
 
     <!-- 校验属性文件 -->
     <!--<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
       &lt;!&ndash; 添加资源文件  &ndash;&gt;
       <property name="basenames">
         <list>
           <value>classpath:validation/customerValidationMessage</value>
           <value>classpath:activityValidationMessage</value>
           <value>classpath:userValidationMessage</value>
         </list>
       </property>
       &lt;!&ndash; 指定校验文件编码集 &ndash;&gt;
       <property name="fileEncodings" value="URF-8"></property>
       &lt;!&ndash; 设置资源缓存时间 &ndash;&gt;
       <property name="cacheSeconds" value="120"></property>
     </bean>-->
 
    <!-- 格式转换工厂  -->
     <!--<bean id="conversionService1" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        &lt;!&ndash; 添加转换器  &ndash;&gt;
        <property name="converters">
          <list>
              &lt;!&ndash; 自定义的日期格式转换   ymh &ndash;&gt;
              <bean class="com.guigu.crm.converter.ActivityDateConverter"></bean>
          </list> 
        </property>
     </bean>-->
     
     <!-- 拦截器的定义 -->
     <!--<mvc:interceptors>
     
     	&lt;!&ndash; 登录拦截器 &ndash;&gt;
     	 <mvc:interceptor>
     		<mvc:mapping path="/**"/>
     		<bean class="com.guigu.crm.interceptor.LoginInterceptor"></bean>
     	</mvc:interceptor> 
     </mvc:interceptors>-->
 
 	
</beans>