<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjlu.dao.CrmCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.cjlu.domain.CrmCustomer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_name" property="cusName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="cus_level" property="cusLevel" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_name, sex, region, manager_id, cus_level, credit, addr, phone, memo, status, 
    gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crm_customer
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertCustomer" parameterType="com.cjlu.domain.CrmCustomer" >
    insert into crm_customer(cus_name,sex,region,manager_id,cus_level,credit,addr,phone,memo,status,gmt_created,gmt_modified)
    values(#{cusName},#{sex},#{region},#{managerId},#{cusLevel},#{credit},#{addr},#{phone},#{memo},#{status},#{gmtCreated},#{gmtModified})
  </insert>

  <update id="updateStatus" parameterType="com.cjlu.domain.CrmCustomer" >
    update crm_customer
    set status = #{status}
    where cus_name = #{cusName}
    and phone = #{phone}
  </update>

  <select id="selectByIdAndStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from crm_customer
    where manager_id = #{id}
    and status = 'ENABLE'
  </select>

  <select id="selectLikeName" parameterType="java.lang.String" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from crm_customer
    where cus_name like '%${value}%'
  </select>

  <delete id="deleteCustomer" parameterType="java.lang.Integer" >
    delete from crm_customer
    where id = #{id}
  </delete>

  <update id="updateCustomer" parameterType="com.cjlu.domain.CrmCustomer" >
    update crm_customer
    set cus_name=#{cusName},sex=#{sex},region=#{region},cus_level=#{cusLevel},
        credit=#{credit},addr=#{addr},phone=#{phone},memo=#{memo},gmt_modified=#{gmtModified}
    where id = #{id}
  </update>

</mapper>